body {
  background-color: #08000e;
}

.container {
  color: whitesmoke;
}

.section-1 {
  padding-top: 5%;
}

.content-section-1 {
  display: flex;
  flex-direction: row;
  width: 100%;
}

span {
  color: #8801ff;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 45%;
}

.btn-explore-now {
  background: #654ea3;
  background: linear-gradient(to right, #8801ff, #3618af);
  color: #fff;
}

.photo-0 {
  padding-left: 25%;
}

.section-1-text {
  justify-content: space-evenly;
  padding-top: 10%;
  padding-bottom: 5%;
}

.buy-now {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1%;
  border-radius: 20px;
  width: 40%;
  height: 15%;
  background-color: black;
  margin-top: -130px;
}

.section-1-product {
  padding-left: 5%;
}

.section-1-price {
  padding-left: 5%;
  font-size: 12px;
}

.context-1 {
  font-size: 45px;
}

.context-2 {
  font-size: 20px;
}

.section-1-footer {
  padding-top: 10%;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
}

.section-1-row {
  border-bottom: 10px;
  border-color: #fff;
}

.content-section-2 {
  padding-top: 10%;
}

.text-center {
  line-height: 25px;
  margin-left: 200px;
  margin-right: 200px;
}

.section-2-text {
  padding-top: 15%;
}

.photo-1 {
  padding-right: 25%;
}

.seaw-menu-item {
  margin-top: 5px;
  justify-content: center;
  align-items: center;
  margin-left: 30%;
  width: 70%;
  padding-top: 5%;
  padding-bottom: 5%;
  background: linear-gradient(to right, #8801ff, #3618af);
  -webkit-clip-path: polygon(15% 0%, 100% 0, 100% 100%, 0 100%, 0% 40%);
          clip-path: polygon(15% 0%, 100% 0, 100% 100%, 0 100%, 0% 40%);
  border: none;
}

.my-selected-item {
  margin-left: 40%;
}

.js-box {
  position: relative;
  margin-top: -490px;
  margin-left: -70px;
}

.section-2-box-1 {
  display: flex;
  flex-direction: row;
  color: whitesmoke;
}

.row-section-3 {
  padding-top: 5%;
}

.btn-section-3 {
  padding-top: 2%;
}

.card-1 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 15%;
  padding-bottom: 10%;
  width: 70.5%;
  height: 10%;
  background: linear-gradient(to right, #8801ff, #3618af);
  margin-top: -130px;
}

.section-4-content {
  padding-top: 5%;
}

.section-4-text {
  padding-top: 5%;
}

.dropdown-qa-1 {
  padding-right: 45%;
}

.card-body {
  margin-top: -1%;
  width: 73%;
}

.dropdown-qa-2 {
  padding-right: 41%;
}

.dropdown-qa-3 {
  padding-right: 42%;
}

.dropdown-qa-4 {
  padding-right: 40%;
}

.dropdown-qa-5 {
  padding-right: 34.3%;
}

.dropdown {
  padding-top: 5%;
}

.section-5 {
  padding-top: 5%;
}

.collapse {
  color: #08000e;
}

.form-control {
  background-color: #08000e;
}

.placeholder {
  color: aqua;
}

.left-side-text {
  padding-top: 5%;
}

.logo {
  text-decoration: none;
  font-size: 30px;
  color: whitesmoke;
}

.footer-items {
  padding-top: 5%;
}

.items {
  text-decoration: none;
  color: whitesmoke;
}

.footer-help {
  padding-top: 5%;
}

.copyright {
  text-align: center;
}

.footer {
  padding-top: 10%;
  padding: 1%;
  width: 100%;
  background-color: black;
  opacity: 45%;
}/*# sourceMappingURL=homepage.css.map */